html, body {
    width:100%;
    height: 100%;
    margin:0;
    padding:0;
    
}


.sidebar {
    padding-top:10px;
    background: #666;
    font-family:Arial,sans-serif;
    color:#DDD;
    width:200px;
    height:100%;
}

.item,.itemtitle {
    padding:2px;
    cursor:default;
    padding-left:15px;
}

.item:hover{ 
    color:white;   
}

.itemtitle {
    font-weight:bold;
}

.itemparent .item {
    padding-left:25px;
}

.itemselected {
    background:#444;
    color:white;
}